:80 {
    proxy / wordpress:80 {
            transparent
            websocket
        }

    errors stderr
    tls {$TLS}
}

:80 {
    basicauth / {$ADMIN_USER} {$ADMIN_PASSWORD}
    proxy /maria adminer:8888 {
            transparent
        }

    errors stderr
    tls {$TLS}
}

