:80 {
    proxy / wordpress:80 {
            transparent
            websocket
        }

    errors stderr
    tls {$TLS}
}

:8888 {
    basicauth / {$ADMIN_USER} {$ADMIN_PASSWORD}
    proxy / adminer:8888 {
            transparent
            websocket
        }

    errors stderr
    tls {$TLS}
}

