:80 {
    proxy / wordpress:80 {
            transparent
            websocket
        }

    errors stderr
    tls {$TLS}
}

:8080 {
    basicauth / {$ADMIN_USER} {$ADMIN_PASSWORD}
    proxy / mariadb:8080 {
            transparent
        }

    errors stderr
    tls {$TLS}
}

